<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ies.spd.spdservices.dao.mapper.GatewayMapper">
    <resultMap id="BaseResultMap" type="com.ies.spd.spdservices.entity.Gateway">
        <result column="ID" jdbcType="INTEGER" property="id"/>
        <result column="HOST_ADDRESS" jdbcType="VARCHAR" property="hostAddress"/>
        <result column="PORT" jdbcType="VARCHAR" property="port"/>
        <result column="ONLINE" jdbcType="VARCHAR" property="online"/>
        <result column="eqCount" jdbcType="VARCHAR" property="eqCount"/>
        <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <select id="findGateway" resultMap="BaseResultMap">
		SELECT
			t_gateway.`ID`,
			t_gateway.`HOST_ADDRESS`,
			t_gateway.`PORT`,
			t_gateway.`ONLINE`,
			COUNT( t_equipment_event.`SPD_NO` ) AS `eqCount`,
			t_gateway.`UPDATE_TIME`
		FROM
			t_gateway
			LEFT JOIN t_equipment_event ON t_equipment_event.`GATEWAY_ID` = t_gateway.`ID`
			LEFT JOIN t_equipment ON t_equipment_event.`SPD_NO` = t_equipment.`SPD_NO`
		WHERE
			t_equipment.`ID` IS NULL
			OR t_equipment.`IS_DELETE` = FALSE
		GROUP BY
			t_gateway.`HOST_ADDRESS`,
			t_gateway.`PORT`
			ORDER BY
			`eqCount` DESC
  </select>

</mapper>